html,
body {
  position: relative;
  height: 100%;
  background-color: #F2F2F2;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
}
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.item{
    max-width: 50%;
    text-align: center;
}

.fa{
    color: #212121;
}

.social{
    word-spacing: 5px;
    
}
